<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      <%= title %> me
    </h1>
    <hr />
    <div class="row">
      <div class="col">
        <p>Hi, my name is Ben Coombes. I am currently in my third semester of Game Programming at Centennial College.</p>
        <p>I look forward to progressing my knowledge further in the programming space to be able to do more with my
          work in the future.</p>
        <p>My main goal is to create games that everyone can enjoy, but I also enjoy web development</p>
      </div>
      <div class="col">
        <img src="/Assets/images/potrait.jpg" alt="Portrait" class="img-thumbnail" style="height: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
        <div class="text-center">
          <a href="/Assets/files/resume.pdf"><i class="fas fa-hand-point-right"></i> Click to view/download PDF</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
