<!--
File Name: index.ejs
Name: Ben Coombes
Student ID: 301136902
Date: 10/3/2021
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <hr/>
      <div class="row">
        <div class="col">
        <h4>Welcome to my Portfolio</h4>
        <p>This website shows all the projects I have worked on and what I offer in terms of services. </p>
          <p>My goal is to provide web development services and create games using Unity</p>
         <p> Please see links to the right for more info.</p>
        </div>
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="/about"><i class="fas fa-hand-point-right"></i> About Me</a>
              <p>Read more about me.</p>
            </li>
            <li class="list-group-item">
              <a href="/projects"><i class="fas fa-hand-point-right"></i> Projects</a>
              <p>Check out my current and past projects.</p>
            </li>
            <li class="list-group-item">
              <a href="/Services"><i class="fas fa-hand-point-right"></i> Services</a>
              <p>See what services I offer.</p>
            </li>
            <li class="list-group-item">
              <a href="/contact"><i class="fas fa-hand-point-right"></i> Contact Me</a>
              <p>If you have any questions feel free to contact me.</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
