<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">My <%= title %>
    </h1>
    <hr />
    <div class="row">
      <div class="col">
        <h3>Origins' Fall <i class="fab fa-unity"></i></h3>
        <p>Origins' Fall is a gravity based platformer game made in Unity. My friends and I are currently working on it
          for another class in our program.</p>
        <div class="text-center">
          <a href="https://github.com/marcusngooi/COMP305-001-Game-Project"><i class="fab fa-github"></i> Github
            Repository</a>
        </div>
        <hr />
      </div>
      <div class="col">
        <div class="text-center">
          <img src="/Assets/images/project1.png" alt="Origin's Fall" class="rounded" style="width: 200px;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Auto Chess Game <i class="fab fa-java"></i></i></h3>
        <p>This is a game I made in highschool using Java. It is a take on the popular auto chess game genre. The Github
          repository is below for a more in depth look.</p>
        <div class="text-center">
          <a href="https://github.com/Ben-Coombes/Auto-Chess"><i class="fab fa-github"></i> Github Repository</a>
        </div>
        <hr />
      </div>
      <div class="col">
        <div class="text-center">
          <img src="/Assets/images/project2.png" alt="Auto Chess" class="rounded" style="width: 200px;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Soccer Prediction Machine <i class="fab fa-r-project"></i></h3>
        <p>This was a personal project made in R. It gathers the statistics of every team in a soccer league and
          uses poisson distribution in order to find the probabilities of certain outcomes in upcoming soccer matches.
        </p>
        <div class="text-center">
          <a href="https://github.com/Ben-Coombes/Soccer-Predictions-R"><i class="fab fa-github"></i> Github
            Repository</a>
        </div>
        <hr />
      </div>
      <div class="col">
        <div class="text-center">
          <img src="/Assets/images/project3.png" alt="Soccer" class="rounded" style="width: 150px;">
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
