<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">My <%= title %></h1>
    <hr/>
        <div class="row">
          <div class="col">
            <h3>Origins' Fall <i class="fab fa-unity"></i></h3>
            <p>test test test</p>
          </div>
          <div class="col">
            <img src="..." alt="..." class="rounded">
          </div>
        </div>   
        <div class="row">
          <div class="col">
            <h3>Auto Chess Game <i class="fab fa-java"></i></i></h3>
            <p>test test test</p>
          </div>
          <div class="col">
            <img src="..." alt="..." class="rounded">
          </div>
        </div>   
        <div class="row">
          <div class="col">
            <h3>Soccer Prediction Machine <i class="fab fa-r-project"></i></h3>
            <p>test test test</p>
          </div>
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/53/53283.png" alt="..." class="img-fluid" style="width: 100px;">
          </div>
        </div>   
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
