<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <hr />
    <div class="row">
      <div class="col">
        <h3 style="text-decoration: underline; text-align: center;">Shopify/Wordpress Setup</h3>
      </div>
      <div class="col">
        <span style="font-size: 100px; color: green;">
          <i class="fab fa-shopify"></i>
        </span>
        <span style="font-size: 100px; color: lightskyblue;">
          <i class="fab fa-wordpress"></i>
        </span>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h3 style="text-decoration: underline; text-align: center;">General Computer/Tech Support</h3>
      </div>
      <div class="col">
        <span style="font-size: 80px; color: dimgray;">
          <i class="fas fa-laptop"></i>
        </span>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h3 style="text-decoration: underline; text-align: center;">General C# Java and Unity Services</h3>
      </div>
      <div class="col">
        <span style="font-size: 100px; color: orange;">
          <i class="fab fa-java"></i>
        </span>
        <span style="font-size: 100px; color:dimgray;">
          <i class="fab fa-unity"></i>
        </span>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
